<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{devicesByType[0].type_human_readable}}">
  <ion-content>
    <ion-list>

      <ion-toggle ng-model="device.status" ng-repeat="device in devicesByType">
        {{device.name}}
      </ion-toggle>

    </ion-list>
  </ion-content>
</ion-view>
